<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>10.条件渲染指令</title>
</head>

<body>
  <div id="app">
    <p v-if="networkState === 200">请求成功 --- 被 v-if 控制</p>
    <p v-show="networkState === 200">请求成功 --- 被 v-if 控制</p>
    <hr>
    <div v-if="type === 'A'">优秀</div>
    <div v-else-if="type === 'B'">良好</div>
    <div v-else-if="type === 'C'">一般</div>
    <div v-else>差</div>
  </div>

  <script src="js/vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#app",
      data () {
        return {
          networkState: 200,
          type: 'A'
        }
      },
    }); 
  </script>
</body>

</html>